@{
    Layout = "_IndexLayout";
}
@*@if (ViewBag.islogout)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Successfully Logged out!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}*@
<style>
@*    body {
        background-image: url("../../wwwroot/img/booklib.jpg");
    }
    header.masthead {
        background-image: url(../../wwwroot/img/booklib.jpg);
        background-size: cover;
        background-size: 100%;
    }
    .btn-primary {
        background-color: darkred;
        border-color: darkred;
    }*@
</style>
<header class="masthead text-center text-black">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Pustak-ala-ya</h1>
            <h2 class="masthead-subheading mb-0">A Book Stock Management System built with simplicity and minimalism</h2>
        </div>
    </div>
</header>
