
@{ Layout = "_DashboardLayout"; }



<div class="container-fluid px-xl-5">
    <section class="py-5">

        <div class="row py-5 mt-4 align-items-center">

            <!-- Update User Form -->
            <div class="col-md-7 col-lg-6 ml-auto">
                <form action="/Admin/EditUsers/@ViewBag.user_data.id" method="post">
                    <div class="row">
                        <!-- Name -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="fullName" type="text" name="fullName" value="@ViewBag.user_data.name" placeholder="Full Name" class="form-control bg-white border-left-0 border-md" required>
                        </div>

                        <!-- Email Address -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="email" type="email" name="email" value="@ViewBag.user_data.email" placeholder="Email Address" class="form-control bg-white border-left-0 border-md" required>
                        </div>

                        <!-- Contact -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-phone-square text-muted"></i>
                                </span>
                            </div>
                            <select id="countryCode" name="countryCode" style="max-width: 80px" class="custom-select form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted">
                                <option value="">+977</option>
                            </select>
                            <input id="phoneNumber" type="number" value="@ViewBag.user_data.contacts" name="phone" placeholder="Phone Number" class="form-control bg-white border-md border-left-0 pl-3" required>
                        </div>.


                        <!-- Account Type -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user-tie text-muted"></i>
                                </span>
                            </div>
                            <select id="job" name="jobtitle" class="form-control custom-select bg-white border-left-0 border-md" required>
                                <option value="">Choose the account type</option>
                                <option value="Admin">Admin</option>
                                <option value="Normal">Normal</option>
                            </select>
                        </div>

                        <!-- Password -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted"></i>
                                </span>
                            </div>
                            <input id="password" type="text" name="password" value="@ViewBag.user_data.password" placeholder="password" class="form-control bg-white border-left-0 border-md" required>
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group col-lg-12 mx-auto mb-0">
                            <button class="btn btn-primary btn-block py-2">
                                <span class="font-weight-bold">Update User <i class="fas fa-user-edit ml-2"></i></span>
                            </button>
                        </div>

                    </div>
                </form>
            </div>

            <div class="col-md-5 p-5 mb-5 mb-md-0">
                <img src="~/img/update.svg" alt="Update SVG" class="img-fluid" />
                <h3>Update User Details <i class="fas fa-pencil-alt"></i></h3>
            </div>
        </div>
    </section>
</div>

