
@{ Layout = "_DashboardLayout"; }


<div class="container-fluid px-xl-5">
    <section class="py-5">

        <div class="row py-5 mt-4 align-items-center">
            <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
                <img src="~/img/insert_sale.svg" alt="Insert Sale SVG" class="img-fluid" />
                <h1>Record New Sale</h1>
            </div>

            <!-- Registeration Form -->
            <div class="col-md-7 col-lg-6 ml-auto">
                <form action="/Sales/AddSale" method="post" >
                    <div class="row">

                        <!-- Customer -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-book text-muted"></i>
                                </span>
                            </div>
                            <select id="customer" name="customer_id" class="form-control custom-select bg-white border-left-0 border-md">
                                <option value="">Please choose a customer</option>
                                @foreach (var customers in ViewBag.customerList)
                                { 
                                    <option value="@customers.Id">@customers.Customer_Name</option>
                                }
                            </select>
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group col-lg-12 mx-auto mb-0">
                            <button class="btn btn-primary btn-block py-2">
                                <span class="font-weight-bold">Insert Sale <i class="fas fa-cart-plus ml-2"></i></span>
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </section>
</div>