
@{
    Layout = "_DashboardLayout";
}

@{
    var claimsPrinciple = User.Claims;
    var c = claimsPrinciple.Where(a => a.Type == "id").FirstOrDefault().Value ;
}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto shadow py-5">
            <div class="row">
                <div class="col-md-10 mx-auto shadow-lg text-center py-5">
                    <img src="~/img/change_pwd.svg" alt="Change Password SVG" class="img-fluid" border="0">
                    <h2 class="text-center">Change Password</h2>
                    <form id="add-sales-form" action="/Users/EditPassword/@c" method="post">

                        <!-- Old Password -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted"></i>
                                </span>
                            </div>
                            <input id="oldpassword" type="password" name="oldpassword" placeholder="Enter Old Password" class="form-control bg-white border-left-0 border-md" required>
                        </div>

                        <!-- New Password -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted"></i>
                                </span>
                            </div>
                            <input id="newpassword" type="password" name="newpassword" placeholder="Enter New Password" class="form-control bg-white border-left-0 border-md" required>
                        </div>

                        <!-- New Password Confirmation -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted"></i>
                                </span>
                            </div>
                            <input id="passwordConfirmation" type="password" name="passwordConfirmation" placeholder="Confirm New Password" class="form-control bg-white border-left-0 border-md" required>
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group col-lg-12 mx-auto mb-0">
                            <button class="btn btn-primary btn-block py-2">
                                <span class="font-weight-bold">Save Changes <i class="fas fa-check-circle ml-2"></i></span>
                            </button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>