
@{
    Layout = "_DashboardLayout";
}

<div class="container-fluid px-xl-5">
    <section class="py-5">
        <div class="row">
            <div class="col-xl-5 col-lg-6 mb-4 mb-xl-0 mx-auto">
                    <img src="~/img/dashboard.svg" alt="Add User SVG" class="img-fluid" />
                    <p class="text-center h3 my-3">Welcome to your Dashboard! <i class="fas fa-th text-primary"></i></p>
            </div>
        </div>
    </section>
</div>
