
@{ Layout = "_DashboardLayout"; }

<div class="container py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="text-center">
                <div class="row my-4">
                    <div class="col-md-8 mx-auto">
                        <img src="/img/out_of_stock.svg" alt="Out of Stock SVG" class="img-fluid" />
                    </div>
                </div>
                <p class="h3">Items Out of Stock</p>
                <p><code>The following list of items are currently out of stock</code></p>
            </div>
        </div>
    </div>

    <div my-4>
        <div class="row my-4">
            <div class="col-lg-11 mx-auto">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">

                        <!-- Responsive table -->
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Author</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Stocked Date</th>
                                        <th scope="col">Stock Quantity</th>
                                        <th scope="col">Sales Date</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <th scope="row">1</th>
                                        <td>The Alchemist</td>
                                        <td>Paulo Coehelo</td>
                                        <td>Novels</td>
                                        <td>26 April, 2021</td>
                                        <td>100</td>
                                        <td>28 April, 2021</td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>