

@{
    Layout = "_DashboardLayout";
}

@*<div class="container">
    <header class="text-center">
        <h1 class="display-4 font-weight-bold">Add New Book Category</h1>
    </header>
</div>*@


<div class="container py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="text-center">
                <div class="row mb-4">
                    <div class="col-md-8 mx-auto">
                        <img src="/img/book.svg" alt="Book SVG" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-10 mx-auto">
            <form action="/Books/AddBook" method="post">
                <div class="row">

                    <!-- Book Title -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-book text-muted"></i>
                            </span>
                        </div>
                        <input id="title" type="text" name="bookName" placeholder="Book Title" class="form-control bg-white border-left-0 border-md" required>
                    </div>


                    <!-- Book Description -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <textarea id="description" name="description" placeholder="Book Description" class="form-control bg-white border-left-0 border-md" rows="8"></textarea>
                    </div>

                    <!-- Book Category -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-book-open text-muted"></i>
                            </span>
                        </div>
                        <select id="countryCode" name="category" class="custom-select form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted" required>
                            <option value="">Choose a Category</option>
                            @foreach (var category in ViewBag.categoryList)
                            {
                <option value="@category.Id"> @category.Category</option>
}

                        </select>
                    </div>


                    <!-- Book Author  -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-address-book text-muted"></i>
                            </span>
                        </div>
                        <select id="author" name="author" class="form-control custom-select bg-white border-left-0 border-md" required>
                            <option value="">Select an author</option>
                            @foreach (var author in ViewBag.authorList)
                            {
                <option value="@author.Id"> @author.Author</option>}
                        </select>
                    </div>

                    <!-- Price -->
                    <div class="input-group col-lg-6 mb-4" required>
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-money-bill text-muted"></i>
                            </span>
                        </div>
                        <input id="price" type="number" name="rate" placeholder="Price" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Stock Quantity -->
                    <div class="input-group col-lg-6 mb-4" required>
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-list-ol text-muted"></i>
                            </span>
                        </div>
                        <input id="quantity" type="number" name="quantity" placeholder="Quantity in Stock" class="form-control bg-white border-left-0 border-md">
                    </div>


                </div>
                <div class="text-center">
                    <button class="btn btn-primary">Add Book<i class="fas fa-plus ml-2"></i></button>
                </div>
            </form>
        </div>
    </div>

    
</div>